.global-theme {
          --space-0: 0;
  --space-1: 4px;
  --space-2: 6px;
  --blue-100: blue;
  --green-100: green;
  --primary-100: blue;
  --border-sm: 4px;
  --red: red;
  --purple: purple;
  --space-100: 72px;
  --orange-100: #FF7910;
      }